<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">Gallery</h1>
        </div>
    </div>
</div>
<br>


<div class="container">

    <section class="">
        <section class="">
            <div class="row">
                <h3>Residential :</h3> <br><br>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="https://fpimages.withfloats.com/actual/63a9573bc425ef0001767dca.jpg" class="w-100" />
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="https://fpimages.withfloats.com/actual/63a2b14e6117390001491fdb.jpg" class="w-100" />
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="https://fpimages.withfloats.com/actual/63a2b099d8ff7e00017edf5a.jpg" class="w-100"
                            alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="https://fpimages.withfloats.com/actual/63a2affcd8ff7e00017edbc4.jpg" class="w-100"
                            alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal4">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                    <br>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/residential/Residential uPVC Windows.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal5">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                    <br>
                </div>


                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/residential/Residential uPVC Windows_2.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal6">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>


                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/residential/Residential uPVC Windows_3.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal7">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/residential/Residential uPVC Windows_4.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal8">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>
            </div>

            <br>
            <div class="row">
                <h3>Hospitality :</h3>
                <br>
                <br>
                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/hospital/Hospitality side uPVC Windows.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal11">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>


                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/hospital/Hospitality side uPVC Windows_4.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal13">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/hospital/Hospitality side uPVC Windows_2.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal12">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/hospital/Hospitality side uPVC Windows_5.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal14">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/hospital/Hospitality side uPVC Windows_6.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal15">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>


                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/hospital/Hospitality side uPVC Windows_3.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal16">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>

            </div>

            <br>
            <div class="row">
                <h3>Commercial :</h3>
                <br><br>
                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/commercial/Commercial side uPVC Windows.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal21">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>


                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/commercial/Commercial side uPVC Windows_2.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal22">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/commercial/Commercial side uPVC Windows_3.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal23">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/commercial/Commercial side uPVC Windows_4.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal24">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/commercial/Commercial side uPVC Windows_5.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal25">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/commercial/Commercial side uPVC Windows_6.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal26">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/commercial/Commercial side uPVC Windows_7.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal27">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>

                <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="/assets/gallery/commercial/Commercial side uPVC Windows.jpg" class="w-100" alt="">
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal28">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div><br>
                </div>


            </div>
        </section>
        <br>



        <section class="">
            <!-- Residential  -->
            <div>
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                        <div class="modal-content">
                            <img src="https://fpimages.withfloats.com/actual/63a9573bc425ef0001767dca.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                        <div class="modal-content">
                            <img src="https://fpimages.withfloats.com/actual/63a2b14e6117390001491fdb.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                        <div class="modal-content">
                            <img src="https://fpimages.withfloats.com/actual/63a2b099d8ff7e00017edf5a.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModal4Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                        <div class="modal-content">
                            <img src="https://fpimages.withfloats.com/actual/63a2affcd8ff7e00017edbc4.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModal5Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <img src="/assets/gallery/residential/Residential uPVC Windows.jpg" alt="">
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModal6Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/residential/Residential uPVC Windows_2.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModal7Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/residential/Residential uPVC Windows_3.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModal8Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/residential/Residential uPVC Windows_4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Residential end  -->

            <!-- Hospitality start -->
            <div>
                <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModal11Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/hospital/Hospitality side uPVC Windows.jpg" alt="">
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModal12Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/hospital/Hospitality side uPVC Windows_2.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModal13Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/hospital/Hospitality side uPVC Windows_4.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModal14Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/hospital/Hospitality side uPVC Windows_5.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModal15Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/hospital/Hospitality side uPVC Windows_6.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal16" tabindex="-1" aria-labelledby="exampleModal16Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/hospital/Hospitality side uPVC Windows_3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hospitality end -->

            <!-- Commercial start -->
            <div>
                <div class="modal fade" id="exampleModal21" tabindex="-1" aria-labelledby="exampleModal21Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/commercial/Commercial side uPVC Windows.jpg" alt="">
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="exampleModal22" tabindex="-1" aria-labelledby="exampleModal22Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/commercial/Commercial side uPVC Windows_2.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal23" tabindex="-1" aria-labelledby="exampleModal23Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/commercial/Commercial side uPVC Windows_3.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal24" tabindex="-1" aria-labelledby="exampleModal24Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/commercial/Commercial side uPVC Windows_4.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal25" tabindex="-1" aria-labelledby="exampleModal25Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/commercial/Commercial side uPVC Windows_5.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal26" tabindex="-1" aria-labelledby="exampleModal26Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/commercial/Commercial side uPVC Windows_6.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal27" tabindex="-1" aria-labelledby="exampleModal27Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/commercial/Commercial side uPVC Windows_7.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal28" tabindex="-1" aria-labelledby="exampleModal28Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="/assets/gallery/commercial/Commercial side uPVC Windows.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Commercial end -->

        </section>
        <!-- Section: Modals -->
    </section>
</div>