<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">Sliding Windows</h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6">
            <img style="width: 100%;" src="/assets/windows/SlidingWindows.png" alt="">
            <br><br>

            <h2>Product Overview</h2>
            <br>
            <p style="text-align: justify;">uPVC Sliding Windows – A Sliding windows is a window that slides
                horizontally to the left or the right on the track. The sliding window can be wider or taller with the
                additional of sashes. <br> uPVC sliding window can be with 2 track 2 panel or more. The track on which
                the
                sash slides is slightly raised to prevent dusting from steeling in the track.
                <br> A slider window can also
                be offered in combination with fixed and slider window joined with a coupler. We can even provide bug
                screen for a slider window by providing extra track.
            </p>
            <br>
            <p style="text-align: justify;">Sliding Window range is designed to provide the maximum flexibility for
                fabricators and clients alike. Based on a range of sections, it offers full flexibility offering from
                single sliding to multiple sliding openers, clip on or integrated sections for fly screen and a range of
                section sizes covering small and large openings. <br> It provides the ideal range of products to suit
                any
                window replacement program or building type in the fast growing construction industry.</p>
            <br>

            <li> <span><i class="fas fa-check fa-lg"></i></span>
                One,two and three track sliding, window and fly screen options.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span>
                Multi-chamber profile design, frame depth from 62 to 112 mm.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> 10 mm sash overlap for enhanced performance.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Internal glazing options from 4 mm single to 22 mm
                double.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> There is a Choice of single or multi-point locking
                devices.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Secure hardware fitting into steel reinforcements as
                standard</li>
            <br>
        </div>
        <br>

        <div class="col-lg-4 col-md-6">
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span> Our Products</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/tophungwindows']" (click)="scroll()">Top Hung UPVC Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/tiltturnwindows']" (click)="scroll()">UPVC Tilt & Turn
                                Windows</a></li>
                        <br>
                        <li class="active"><a href="" [routerLink]="['/slidingwindows']" (click)="scroll()">UPVC Sliding
                                Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/casementwindows']" (click)="scroll()">UPVC Casement Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/specialwindows']" (click)="scroll()">Special uPVC Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/coloredwindows']" (click)="scroll()">Coloured uPVC Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/aluminiumwindows']" (click)="scroll()">Aluminium Windows</a>
                        </li>
                        <br><br>
                    </ul>

                </div>
            </div>
            <br><br>
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span>uPVC Doors</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/slidefolddoor']" (click)="scroll()">
                                Doors</a></li>
                        <br>
                        <br>
                    </ul>
                </div>
            </div>
        </div><br>
    </div>
</div>