<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">Casement Door</h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6">
            <img style="width: 100%;" src="/assets/door/casement-door.png" alt="">
            <br><br>

            <h2>Product Overview</h2>
            <br>
            <p style="text-align: justify;">The casement door is an open able door with or without flying mullion. This
                can be offered in a combination of fixed and open able.</p>

            <p style="text-align: justify;">uPVC Casement Door Single Open is very good option for application
                Residential Home, Row houses, Bunglow, Commercial corporate offices, Hospitals, Colleges and High-Rise
                Buildings. This uPVC door can be fitted with Glass: 4 – 36 mm of Annealed / Tinted / Toughened / Frosted
                / Single Glaze / Double Glaze and laminated. Laminated. Multi-point Locking System gives extra safety,
                3D Hinges and Projection Handle for smooth movement.
            </p>

            <li> <span><i class="fas fa-check fa-lg"></i></span>
                Multi-point locking system: Projection Handle with key</li>

            <li> <span><i class="fas fa-check fa-lg"></i></span>
                3 Chamber Sash / 3 Chamber Outer Frame – more chambers</li>

            <li> <span><i class="fas fa-check fa-lg"></i></span>
                more resistance to thermal conductivity</li>

            <li> <span><i class="fas fa-check fa-lg"></i></span>
                Smooth movement: 3 D hinges</li>

            <li> <span><i class="fas fa-check fa-lg"></i></span> Double sealing by EPDM gasket to reduce sound</li>
            <li><span><i class="fas fa-check fa-lg"></i></span> Arrest air leakages Seamless weld joints</li>
            <br>
        </div>
        <br>

        <div class="col-lg-4 col-md-6">
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span> Our Products</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/slidefolddoor']" (click)="scroll()">UPVC Slide And Fold Door</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/liftslidedoor']" (click)="scroll()">UPVC Lift And Slide Door</a>
                        </li>
                        <br>
                        <li class="active"><a href="" [routerLink]="['/casementdoor']" (click)="scroll()" >UPVC Casement Door</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/slidingdoor']" (click)="scroll()">UPVC Sliding Doors</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/aluminumdoor']" (click)="scroll()">Aluminium Door</a></li><br>
                    </ul>
                </div>
            </div>
            <br><br>
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span>uPVC Windows</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/tophungwindows']" (click)="scroll()">
                                Windows</a></li>
                        <br>
                        <br>
                    </ul>
                </div>
            </div>
        </div><br>
    </div>
</div>