<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">Casement Windows</h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6">
            <img style="width: 100%;" src="/assets/windows/Casement-window.png" alt="">
            <br><br>

            <h2>Product Overview</h2>
            <br>
            <p style="text-align: justify;">uPVC casement windows also called a side hung window which opens inside or
                outside. The top hung is a
                window which opens from bottom to top. The above can also offered in a combination of fixed and open
                able windows. The sash is connected to the outer frame by means of friction hinges or butt hinges.</p>

            <p style="text-align: justify;">Casement Window range is designed to provide the maximum flexibility for
                fabricators and clients alike.
                The system is based on a two profile depths – 42 and 62 mm and was designed to facilitate maximum
                application coverage with the minimum number of profile sections providing fabricators and clients at
                the same time with the ideal range of products to suit any window replacement program or building type
                in the fast growing construction industry.</p>
            <br>

            <li> <span><i class="fas fa-check fa-lg"></i></span> Contemporary modern soft line profile appearance.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> 10 mm sash overlap for enhanced performance.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Internal glazing options from 4 mm single to 36 mm
                triple</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Choice of single or multi-point locking devices</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Build-in hardware location facility for hinges, striker
                etc.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Secure hardware fitting into steel reinforcements as
                standard.</li>
            <br>
        </div>
        <br>

        <div class="col-lg-4 col-md-6">
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span> Our Products</h3> <br>
                    <ul>
                        <li class="active"><a href="" [routerLink]="['/tophungwindows']" (click)="scroll()">Top Hung UPVC Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/tiltturnwindows']"  (click)="scroll()">UPVC Tilt & Turn Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/slidingwindows']"  (click)="scroll()">UPVC Sliding Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/casementwindows']"  (click)="scroll()">UPVC Casement Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/specialwindows']"  (click)="scroll()">Special uPVC Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/coloredwindows']"  (click)="scroll()">Coloured uPVC Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/aluminiumwindows']"  (click)="scroll()">Aluminium Windows</a></li>
                        <br><br>
                    </ul>

                </div>
            </div>
            <br><br>
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span>uPVC Doors</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/slidefolddoor']" (click)="scroll()">
                                 Doors</a></li>
                        <br>
                        <br>
                    </ul>
                </div>
            </div>
        </div><br>
    </div>
</div>