<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">UPVC Lift And Slide Door</h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6">
            <img style="width: 100%;" src="/assets/door/lift&slide.png" alt="">
            <br><br>

            <h2>Product Overview</h2>
            <br>
            <p style="text-align: justify;">The casement door is an open able door with or without flying mullion. This
                can be offered in a combination of fixed and open able.</p>

            <p style="text-align: justify;">Doors can be much more than mere entry and exit points to your house. A
                testament to that fact can be found in the designs of our lift and slide doors. The lift and slide doors
                by Fenesta provide homes with easier accessibility for all people and offer a much sleeker appearance,
                which in turn enhances the aesthetic appeal and beauty of the façade of your home. Choosing a lift &
                slide door design that you feel would fit your home perfectly, from our range of uPVC lift and slide
                doors is a nifty way incorporating a chic and stylish element to your home.
            </p>
            <br>
            <p>The uPVC lift and slide doors offer the perfect blend of form and functionFenesta offers modern and
                stylish designs at great prices for lift and slide doors.
                <br>The manufacturing process for lift and slide doors at Fenesta ensures dependabilitySuperior
                construction, excellent durability, and chic designs . <br>The lift and slide doors also ensure enhanced
                securityConstructed with top grade materials that justify the
                cost of lift and slide doors by FenestaEnhanced sound insulation offered by Fenesta’s lift and slide
                patio doors does not cost extra yet helps create a better ambience inside your house.
            </p>
            <br>
        </div>
        <br>

        <div class="col-lg-4 col-md-6">
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce;"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span> Our Products</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/slidefolddoor']">UPVC Slide And Fold Door</a>
                        </li>
                        <br>
                        <li class="active"><a href="" [routerLink]="['/liftslidedoor']">UPVC Lift And Slide Door</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/casementdoor']">UPVC Casement Door</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/slidingdoor']">UPVC Sliding Doors</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/aluminumdoor']">Aluminium Door</a></li><br><br>
                    </ul>

                </div>
            </div>
            <br><br>
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce;"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span>uPVC Windows</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/tophungwindows']" (click)="scroll()">
                                Windows</a></li>
                        <br>
                        <br>
                    </ul>
                </div>
            </div>
        </div><br>
    </div>
</div>