<div class="main">
    <div class="container">
        <h1 class="maint"><b> Products</b></h1>

        <div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active" data-mdb-interval="3000">
                    <div class="c">

                        <div class="row row-cols-sm-3">
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/Top Hung UPVC Windows.png">
                                    </div>
                                    <div class="content">
                                        <div class="para">
                                            <h2>Top Hung uPVC Windows</h2>
                                            <p> uPVC Top Hung Windows are cost-efficient and provide obstacles
                                                against
                                                thermal and sound pollution.
                                                <span [routerLink]="['/tophungwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4>Top Hung UPVC Windows</h4>
                            </div><br>

                            <div class="col-md-4">
                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/UPVC Tilt & Turn Windows.png">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <h2>Tilt Turn Windows</h2>
                                            <p>Tilts at an angle from the top like a bottom hung or opens sideways like
                                                a
                                                casement window.
                                                <span [routerLink]="['/tiltturnwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4> Tilt Turn Windows </h4>
                            </div><br>

                            <div class="col-md-4">
                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/UPVC Sliding Windows.png">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <h2>uPVC Sliding Windows</h2>
                                            <p> uPVC Top Hung Windows are cost-efficient and provide obstacles against
                                                thermal and sound pollution.
                                                <span [routerLink]="['/slidingwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4>UPVC Sliding Windows</h4>
                            </div><br>

                            <br>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" data-mdb-interval="2000">
                    <div class="c">
                        <div class="row row-col-sm-3">
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/Coloured UPVC Windows.png">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <h2>Image Title</h2>
                                            <p> uPVC Top Hung Windows are cost-efficient and provide obstacles against
                                                thermal and sound pollution.
                                                <span [routerLink]="['/tophungwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4>Coloured Windows</h4>
                            </div><br>

                            <div class="col-md-4">
                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/Special UPVC Windows.png">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <h2>Image Title</h2>
                                            <p> uPVC Top Hung Windows are cost-efficient and provide obstacles against
                                                thermal and sound pollution.
                                                <span [routerLink]="['/tophungwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4>Special UPVC Windows</h4>
                            </div><br>

                            <div class="col-md-4">

                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/UPVC Casement Windows.png">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <h2>Image Title</h2>
                                            <p> uPVC Top Hung Windows are cost-efficient and provide obstacles against
                                                thermal and sound pollution.
                                                <span [routerLink]="['/tophungwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4>UPVC Casement Windows</h4>
                            </div><br>


                        </div>
                    </div>
                </div>


                <div class="carousel-item" data-mdb-interval="2000">

                    <div class="c">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/Aluminium Windows.png">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <h2>Image Title</h2>
                                            <p> uPVC Top Hung Windows are cost-efficient and provide obstacles against
                                                thermal and sound pollution.
                                                <span [routerLink]="['/tophungwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4>Aluminium Windows</h4>
                            </div><br>

                            <div class="col-md-4">
                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/UPVC Casement Doors.png">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <h2>Image Title</h2>
                                            <p> uPVC Top Hung Windows are cost-efficient and provide obstacles against
                                                thermal and sound pollution.
                                                <span [routerLink]="['/tophungwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4>UPVC Casement Doors</h4>
                            </div><br>

                            <div class="col-md-4">

                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/UPVC Lift And Slide Door.png">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <h2>Image Title</h2>
                                            <p> uPVC Top Hung Windows are cost-efficient and provide obstacles against
                                                thermal and sound pollution.
                                                <span [routerLink]="['/tophungwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4>UPVC Lift And Slide Door</h4>
                            </div><br>

                        </div>
                    </div>
                </div>


                <div class="carousel-item" data-mdb-interval="2000">
                    <div class="c">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/UPVC Slide & Fold Doors.png">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <h2>Image Title</h2>
                                            <p> uPVC Top Hung Windows are cost-efficient and provide obstacles against
                                                thermal and sound pollution.
                                                <span [routerLink]="['/tophungwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4>UPVC Slide & Fold Doors</h4>
                            </div><br>

                            <div class="col-md-4">
                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/UPVC Sliding Doors.png">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <h2>Image Title</h2>
                                            <p> uPVC Top Hung Windows are cost-efficient and provide obstacles against
                                                thermal and sound pollution.
                                                <span [routerLink]="['/tophungwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4>UPVC Sliding Doors</h4>
                            </div><br>

                            <div class="col-md-4">

                                <div class="box">
                                    <div class="imgBx">
                                        <img src="/assets/product/Aluminium Doors.png">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <h2>Image Title</h2>
                                            <p> uPVC Top Hung Windows are cost-efficient and provide obstacles against
                                                thermal and sound pollution.
                                                <span [routerLink]="['/tophungwindows']" (click)="scroll()" style="color: red;">More</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4>Aluminium Doors</h4>
                            </div><br>

                        </div>
                    </div>
                </div>



            </div>
            <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button"
                data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button"
                data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br>