<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">Services</h1>
        </div>
    </div>
</div>
<br>

<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 col-md-6">
            <h5><b>Paneling</b></h5>
            <div class="card">
                <div class="img">
                    <span><img src="/assets/services/paneling.jpg" alt=""></span>
                </div>
                <div class="content">
                    <p>Transform your space with the elegance and durability of uPVC window paneling.
                        Our uPVC panels are crafted with precision, offering a sleek and modern aesthetic that
                        complements any interior.
                        Enjoy the benefits of energy efficiency, noise reduction, and low maintenance, all seamlessly
                        integrated into our stylish panel designs.
                        
                    </p>
                    <p class="d-xl-block d-lg-none d-md-none d-none">
                        Elevate your living environment with the sophistication and functionality of uPVC window
                        paneling – where aesthetics meet performance.
                    </p>
                </div>
            </div>
            <br><br>
        </div>
        <br>

        <div class="col-lg-5 col-md-6">
            <h5><b>Glazing</b></h5>
            <div class="card">
                <div class="img">
                    <span><img src="/assets/services/4.png" alt=""></span>
                </div>
                <div class="content">
                    <p>Elevate your living experience with our advanced uPVC window glazing solutions.
                        Our state-of-the-art glazing technology not only enhances the aesthetics of your space but also
                        delivers superior performance in terms of energy efficiency and sound insulation.
                        Crafted with precision, our uPVC window glazing ensures a perfect balance of natural light and
                        thermal comfort.
                    </p>
                    <p class="d-xl-block d-lg-none d-md-none d-none"> Experience the tranquility of your surroundings
                        with reduced noise levels, while enjoying the
                        benefits of a more energy-efficient home.
                        Choose sophistication and functionality – choose uPVC window glazing for a brighter, quieter,
                        and more comfortable living space.</p>
                </div>
            </div>

        </div>

    </div>
    <br>

    <br><br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 col-md-6">
            <h5><b>Installation</b></h5>
            <div class="card">
                <div class="img">
                    <span><img src="/assets/services/1.png" alt=""></span>
                </div>
                <div class="content">
                    <p>Experience hassle-free and professional window installation services with us.
                        Our skilled team is dedicated to ensuring a seamless installation process, bringing efficiency
                        and expertise to your doorstep.
                        From precise measurements to the final touches, we handle every aspect with care, delivering not
                        just windows but a transformation to your space.
                    </p>
                    <p class="d-xl-block d-lg-none d-md-none d-none">Enjoy peace of mind knowing that your windows are
                        installed with precision, enhancing both the aesthetic appeal and functionality of your home.
                        Trust us for a reliable and expert window installation service that exceeds expectations. Your
                        satisfaction is our priority from start to finish.
                    </p>
                </div>
            </div>
            <br><br>
        </div>
        <br>

        <div class="col-lg-5 col-md-6">
            <h5><b>Electrical</b></h5>
            <div class="card">
                <div class="img">
                    <span><img src="/assets/services/2.png" alt=""></span>
                </div>
                <div class="content">
                    <p>Illuminate your space with our expert electrical fitting services.
                        Our skilled technicians are committed to providing top-notch installation, ensuring a seamless
                        and safe electrical system for your home or business.
                        From wiring to fixture installation, we handle every detail with precision, adhering to the
                        highest safety standards.
                    </p>
                    <p class="d-xl-block d-lg-none d-md-none d-none">Trust us for a professional and prompt electrical
                        fitting service that prioritizes safety and customer satisfaction.
                        Illuminate your surroundings with confidence – choose our electrical fitting expertise.</p>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-5 col-md-6"><br><br>
            <h5><b> Servicing</b></h5>
            <div class="card">
                <div class="img">
                    <span><img src="/assets/services/3.png" alt=""></span>
                </div>
                <div class="content">
                    <p>Revitalize your windows with our comprehensive window servicing expertise.
                        Our dedicated team of professionals is committed to enhancing the functionality and aesthetics
                        of your windows.
                        From thorough cleaning and lubrication to addressing any operational issues, we provide a
                        holistic servicing experience.
                    </p>
                    <p class="d-xl-block d-lg-none d-md-none d-none">Trust us for prompt, reliable, and efficient window
                        servicing that prolongs the life of your
                        windows and elevates your living or working environment.
                        Enjoy the clarity, comfort, and beauty of well-maintained windows with our expert servicing
                        solutions.</p>
                </div>
            </div><br>
        </div><br>
        <div class="col-lg-3"></div>

    </div>

    <br> <br>
</div>




<br><br>

<!-- <div class="ta">
    <br>
    <div class="demo">
        <carousel class="carousel-html-content" [cellsToShow]="3" [overflowCellsLimit]="1" [arrows]="false">
            <div class="carousel-cell">
                <div class="card">
                    <div class="dic">
                        <p>Javascript/PHP Developers</p>
                        <div class="para">
                            Extends for Hypertext Preprocessor.
                            . It is the most widely used web development language
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="carousel-cell">
                <div class="card">
                    <div class="dic">
                        <p>LISP Developer</p>
                        <div class="para">
                            Lisp is the second-oldest high-level programming language after Fortran
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="carousel-cell">
                <div class="card">
                    <div class="dic">
                        <p>Amazon Redshift Developer</p>
                        <div class="para">
                            Amazon Redshift is a fast, fully managed, petabyte-scale data warehouse
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="carousel-cell">
                <div class="card">
                    <div class="dic">
                        <p>Microsoft Dyanamic Nav Developer</p>
                        <div class="para">
                            Dynamics NAV is an enterprise resource planning (ERP) app that assists with finance,
                            manufacturing,
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="carousel-cell">
                <div class="card">
                    <div class="dic">
                        <p>ERP Developer</p>
                        <div class="para">
                            Enterprise resource planning (ERP) is a software system that helps you run your
                            entire
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="carousel-cell">
                <div class="card">
                    <div class="dic">
                        <p>Model Glue Developer</p>
                        <div class="para">
                            Model-Glue is what is known among software engineers as an event-based, implicit
                            invocation framework
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="carousel-cell">
                <div class="card">
                    <div class="dic">
                        <p>Node Js/TypeScript</p>
                        <div class="para">
                            As an asynchronous event-driven JavaScript runtime, Node.js is designed to build
                            scalable network applications
                        </div>
                    </div>
                </div>
                <br>
            </div>

            <div class="carousel-cell">
                <div class="card">
                    <div class="dic">

                        <p>RESTful API /AWS Engineers</p>
                        <div class="para">
                            Application programming interfaces – or APIs – are an important programming concept
                            to understand.
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </carousel>
    </div>
</div> -->