<div class="main">
    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="bg-image">
                    <img src="/assets/bg.png" class="w-100" />
                    <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.6)">
                        <div class="div">
                            <h1>Fascina Wintec Pvt. Ltd</h1>
                            <h4>Nagpur, Maharastra</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="bg-image">
                    <img class="img" src="/assets/b1.png" class="w-100" />
                    <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.6)">
                        <div class="div">
                            <h1>Windows</h1>
                            <h3>Upgrade the view from your Window into Scenery</h3>
                            <h6>uPVC windows from Fascina Wintec Windows gives a special kind of expression.
                                <span class="hide">
                                    which comes free with our specially made windows, you can perfectly set the internal
                                    ambience now.
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="bg-image">
                    <img class="img" src="/assets/b.png" class="w-100" />
                    <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.6)">
                        <div class="div">
                            <h1>Doors</h1>
                            <h3>Upgrade the view from your Door into Scenery</h3>
                            <h6>uPVC Doors from Fascina Wintec doors gives a special kind of expression.
                                <span class="hide">
                                    which comes free with our specially made doors, you can perfectly set the internal
                                    ambience now.
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="bg-image">
                    <img class="img" src="/assets/b4.png" class="w-100" />
                    <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.6)">
                        <div class="div">
                            <h1>Fascina Wintec Pvt Ltd</h1>
                            <h4>Nagpur, Maharastra</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="container ca">
    <div class="row">
        <div class="col-md-4 b">
            <div class="container">
                <div class="row m">
                    <div class="col-md-4"><br>
                        <img class="img" src="/assets/home/Door.png" alt="">
                    </div><br>
                    <div class="col-md-8">
                        <br>
                        <h3>Door Styles</h3>
                        <p>From timeless classics to modern designs, we offer a range that caters to every taste.</p>
                    </div>
                </div>
            </div>
            <br>
        </div><br>


        <div class="col-md-4 w">
            <div class="container">
                <div class="row m">
                    <div class="col-md-4"><br>
                        <img class="img" src="/assets/home/window.png" alt="">
                    </div><br>
                    <div class="col-md-8">
                        <br>
                        <h3>Window Types</h3>
                        <p>From classic designs to modern innovations, we offer a diverse selection that combines style
                            with functionality.</p>
                    </div>
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-4 r">
            <div class="container">
                <div class="row m">
                    <div class="col-md-4"> <br>
                        <img class="img" src="/assets/home/wooden.png" alt="">
                    </div><br>
                    <div class="col-md-8">
                        <br>
                        <h3>Wooden Finish color option</h3>
                        <p>Enrich your space with the warmth of wood – explore our extensive range of wooden finish
                            color options.</p>
                    </div>
                </div>
            </div>
            <br>
        </div><br>

    </div>
</div>
<br>

<div class="container">
    <br><br>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <img class="d-lg-block d-none hide" width="100%" src="/assets/about/Image_01.png" alt="">
            <img class="d-md-block d-lg-none" width="100%" src="/assets/about/about.png" alt="">
            <br>
        </div><br>
        <div class="col-lg-6 col-md-12"> <br>
            <p style="color: #3790ce; font-weight: bolder;">About Our Company <i class="fas fa-minus fa-lg"></i> </p>
            <h1 style="font-weight: 900;">Make Your Dream Come True</h1>
            <p style="text-align: justify;">
                Discover a world of possibilities with uPVC windows from Fascina Wintec Pvt. Ltd. Our diverse range is
                tailored to meet individual needs, providing high-quality windows that elevate the luxury and
                exclusivity of your home.
                Standard-sized uPVC windows are readily available, ensuring a seamless and prompt installation process.
                <br>
                At Fascina Wintec, we understand the distinct requirements and preferences of our customers, and our
                commitment is to fulfill their individual needs.

                <!-- Our fast fulfillment and minimal waiting time policy exemplify our dedication to providing customized
                uPVC windows.
                Whether it's a different size, shape, or type, we prioritize efficiency to meet the unique
                specifications of our valued customers. -->
                <br><br>
                FASCINA WINTEC places a special emphasis on delivering quality in both the supply and installation of
                uPVC windows.
                Our focus extends to homes, offices, residential apartments, as well as industrial and factory settings.
                <br>
                Experience the excellence of FASCINA WINTEC as we redefine the standards of uPVC windows for various
                environments.


                <!-- <br>uPVC windows make by Fascina Wintec Pvt. Ltd have various range that
                match to individual needs, all are
                high-quality uPVC windows to add Luxury and exclusive look to your home.
                <br> Standard size uPVC windows are
                always available & ready to install.We understand requirements and needs then fulfill individual
                needs. -->
            </p>

            <br>
            <h4 style="font-weight: 700;">Why We Are The Best? </h4>
            <br>
            <p>Our success is attributed to an unparalleled experience and the use of superior-grade materials across
                our extensive product range.
                With our headquarters located in Nagpur, we have established a comprehensive sales network that spans
                across Maharashtra.</p>
            <br>
            <button class="btn btn-lg btn-outline-primary" [routerLink]="['/about']" (click)="scroll()">More About
                Us</button>
        </div><br>
    </div>
    <br>
</div>
<br>
<br>

<div class="main6">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div><br>
            <div class="col-md-6">
                <br><br>
                <h3 style="color: #a91f25; text-align: center;"><b>Advantages & Qualities</b></h3>
                <div class="container"><br><br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/1.png" alt="">
                                <br>
                                <h6>Weather Resistance</h6>
                            </div>
                        </div><br>
                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/2.png" alt="">
                                <br>
                                <h6>Thermal Efficiency Insulations</h6>
                            </div>
                        </div><br>

                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/3.png" alt=""><br>
                                <h6>Material & Structural</h6>
                            </div>
                        </div><br>

                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/4.png" alt=""><br>
                                <h6>Maximum Wind Resistance </h6>
                            </div>
                        </div><br>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/5.png" alt="">
                                <br>
                                <h6>High Security</h6>
                            </div>
                        </div><br>
                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/8.png" alt="">
                                <br>
                                <h6>High Sound Resistance</h6>
                            </div>
                        </div><br>

                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/13.png" alt=""><br>
                                <h6>Technomated</h6>
                            </div>
                        </div><br>

                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/7.png" alt=""><br>
                                <h6>Fire Safety </h6>
                            </div>
                        </div><br>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/9.png" alt="">
                                <br>
                                <h6>Termite Resistance</h6>
                            </div>
                        </div><br>
                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/11.png" alt="">
                                <br>
                                <h6>Maintenance Free</h6>
                            </div>
                        </div><br>

                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/6.png" alt=""><br>
                                <h6>High Water Resistance</h6>
                            </div>
                        </div><br>

                        <div class="col-md-3">
                            <div class="text-center">
                                <img class="icon animate__animated animate__pulse animate__infinite	" src="/assets/advantages/12.png" alt=""><br>
                                <h6>Eco Friendly Lead Free</h6>
                            </div>
                        </div><br>
                    </div>
                    <br>
                </div>
            </div><br>
        </div>
    </div>
</div>

<br><br>

<app-products></app-products>

<br>

<!-- <div class="main2">
    <div class="container">
             <ul class="nav nav-pills mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab"
                    aria-controls="ex1-pills-1" aria-selected="true"><b>All</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab"
                    aria-controls="ex1-pills-2" aria-selected="false"><b>uPVC Windows</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="pill" href="#ex1-pills-3" role="tab"
                    aria-controls="ex1-pills-3" aria-selected="false"><b>uPVC Doors</b></a>
            </li>
        </ul>
       
        <br>
      
        <div class="tab-content" id="ex1-content">
            <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/tophungwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/top-hung.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"> <b>Top Hung uPVC Windows</b></h5>
                                    <p class="card-text">We also offer windows made with special top hung upvc windows.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card c" [routerLink]="['/tiltturnwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/Tilt-N-Turn.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />


                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Tilt and Turn uPVC Windows</b></h5>
                                    <p class="card-text">Tilts at an angle from the top like a bottom hung or opens
                                        sideways like a casement window.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/slidingwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/SlidingWindows.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>uPVC Sliding Windows </b></h5>
                                    <p class="card-text">A Sliding windows is a window that
                                        slides horizontally to the left or the right on the track.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/specialwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/special.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"> <b>Special Windows</b></h5>
                                    <p class="card-text">Tilts at an angle from the top like a bottom hung or opens
                                        sideways like a
                                        casement window.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/coloredwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/coloured.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Coloured Windows</b></h5>
                                    <p class="card-text">We can also offer windows made with special weather resistant
                                        coloured laminations.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/casementwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/Casement-window.png"
                                    class="card-img-top" alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Casement Window</b> </h5>
                                    <p class="card-text">uPVC casement windows also called a side hung window which
                                        opens inside or outside.</p>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/aluminiumwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/aluminiumwindow.png"
                                    class="card-img-top" alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"> <b>Aluminium Windows</b></h5>
                                    <p class="card-text">A windows is a window that
                                        slides horizontally to the left or the right on the track.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/slidingdoor']" (click)="scroll()">
                                <img style="height:20rem;" width="100" src="/assets/door/upvc-sliding-door.png"
                                    class="card-img-top" alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Sliding Doors</b></h5>
                                    <p class="card-text">A uPVC sliding door is a slider door of 2
                                        track 2 panelsor more with or without mesh..
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/slidefolddoor']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/door/slidefold door.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>uPVC Slide And Fold Door</b></h5>
                                    <p class="card-text">The casement door is an open able door with or without flying
                                        mullion.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/liftslidedoor']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/door/lift&slide.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"> <b>uPVC Lift And Slide Door</b></h5>
                                    <p class="card-text">The casement door is an open able door with or without flying
                                        mullion.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/casementdoor']" (click)="scroll()">
                                <img style="height:20rem;" width="100" src="/assets/door/casement-door.png"
                                    class="card-img-top" alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Casement Door</b></h5>
                                    <p class="card-text">The casement door is an open able door with or without flying
                                        mullion. </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/aluminumdoor']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/door/aluminiumdoor.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Aluminium Door</b></h5>
                                    <p class="card-text">The casement door is an open able door with or without flying
                                        mullion.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>

            <div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/tophungwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/top-hung.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"> <b>Top Hung uPVC Windows</b></h5>
                                    <p class="card-text">We also offer windows made with special top hung upvc windows.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/tiltturnwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/Tilt-N-Turn.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Tilt and Turn uPVC Windows</b></h5>
                                    <p class="card-text">Tilts at an angle from the top like a bottom hung or opens
                                        sideways like a casement window.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/slidingwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/SlidingWindows.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>uPVC Sliding Windows </b></h5>
                                    <p class="card-text">A Sliding windows is a window that
                                        slides horizontally to the left or the right on the track.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/specialwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/special.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"> <b>Special Windows</b></h5>
                                    <p class="card-text">Tilts at an angle from the top like a bottom hung or opens
                                        sideways like a
                                        casement window.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/coloredwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/coloured.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Coloured Windows</b></h5>
                                    <p class="card-text">We can also offer windows made with special weather resistant
                                        coloured laminations.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/casementwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/Casement-window.png"
                                    class="card-img-top" alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Casement Window</b> </h5>
                                    <p class="card-text">uPVC casement windows also called a side hung window which
                                        opens inside or outside.</p>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/aluminiumwindows']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/windows/aluminiumwindow.png"
                                    class="card-img-top" alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"> <b>Aluminium Windows</b></h5>
                                    <p class="card-text">A windows is a window that
                                        slides horizontally to the left or the right on the track.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>

                </div>
                <br>
            </div>

            <div class="tab-pane fade" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/liftslidedoor']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/door/lift&slide.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"> <b>uPVC Lift And Slide Door</b></h5>
                                    <p class="card-text">The casement door is an open able door with or without flying
                                        mullion.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/casementdoor']" (click)="scroll()">
                                <img style="height:20rem;" width="100" src="/assets/door/casement-door.png"
                                    class="card-img-top" alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Casement Door</b></h5>
                                    <p class="card-text">The casement door is an open able door with or without flying
                                        mullion. </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/aluminumdoor']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/door/aluminiumdoor.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Aluminium Door</b></h5>
                                    <p class="card-text">The casement door is an open able door with or without flying
                                        mullion.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/slidingdoor']" (click)="scroll()">
                                <img style="height:20rem;" width="100" src="/assets/door/upvc-sliding-door.png"
                                    class="card-img-top" alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>Sliding Doors</b></h5>
                                    <p class="card-text">A uPVC sliding door is a slider door of 2
                                        track 2 panelsor more with or without mesh..
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="card" [routerLink]="['/slidefolddoor']" (click)="scroll()">
                                <img style="height:20rem;" src="/assets/door/slidefold door.png" class="card-img-top"
                                    alt="Hollywood Sign on The Hill" />
                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>uPVC Slide And Fold Door</b></h5>
                                    <p class="card-text">The casement door is an open able door with or without flying
                                        mullion.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

    </div>
</div> -->

<app-cards></app-cards>

<div class="main3">
    <div class="container">
        <br>
        <h1 class="text-center">Succestics </h1> <br><br>
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="container">
                    <div class=" text-center">
                        <img width="100" src="/assets/about/happy.png" alt=""> <br><br>
                        <h3>{{this.experiencecount}}</h3>
                        <p>HAPPY CUSTOMERS</p>
                    </div>
                    <!-- <div class="row row-cols-2">
                        <div class="col-md-3"><br>
                            <img src="/assets/about/happy.png" alt="">
                        </div><br>
                        <div class="col-md-9">
                            <br>
                            <h3>200</h3>
                            <p>Happy Customers</p>
                        </div>
                    </div> -->
                </div>
                <br>
            </div> <br>
            <div class="col-lg-3 col-md-6">
                <div class="container">
                    <div class=" text-center">
                        <img width="100" src="/assets/about/satisfy.png" alt=""> <br><br>
                        <h3>{{this.clients}}479 sq.ft</h3>
                        <p>COMPLETED TILL(SQ. FT.)</p>
                    </div>
                    <!-- <div class="row row-cols-2">
                        <div class="col-md-3"><br>
                            <img src="/assets/about/satisfy.png" alt="">
                        </div><br>
                        <div class="col-md-9">
                            <br>
                            <h3>2000</h3>
                            <p>COMPLETED TILL(SQ. FT.)</p>
                        </div>
                    </div> -->
                </div>
                <br>
            </div> <br>
            <div class="col-lg-3 col-md-6">
                <div class="container">
                    <div class=" text-center">
                        <img width="100" src="/assets/about/Served.png" alt=""> <br><br>
                        <h3>{{this.work}}1 sq.ft</h3>
                        <p>WORK IN PROGRESS(SQ. FT.)</p>
                    </div>

                    <!-- <div class="row row-cols-2">
                        <div class="col-md-3"><br>
                            <img src="/assets/about/Served.png" alt="">
                        </div><br>
                        <div class="col-md-9">
                            <br>
                            <h3>200</h3>
                          
                        </div>
                    </div> -->
                </div>
                <br>
            </div> <br>
            <div class="col-lg-3 col-md-6">
                <div class="container">
                    <div class=" text-center">
                        <img width="100" src="/assets/about/done.png" alt=""> <br><br>
                        <h3>{{ this.hclient}}</h3>
                        <p>PROJECTS COMPLETED</p>
                    </div>
                    <!-- <div class="row row-cols-2">
                        <div class="col-md-3"><br>
                            <img src="/assets/about/done.png" alt="">
                        </div><br>
                        <div class="col-md-9">
                            <br>
                            <h3>200</h3>
                            <p>PROJECTS COMPLETED</p>
                        </div>
                    </div> -->
                </div>
                <br>
            </div> <br>
        </div>
    </div>
</div>
<br>
<br>