<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">Coloured Windows</h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6">
            <img style="width: 100%;" src="/assets/windows/coloured.png" alt="">
            <br><br>

            <h2>Product Overview</h2>
            <br>
            <p style="text-align: justify;">We can also offer windows made with special weather resistant coloured
                laminations. The coloured laminations are imported from Germany.</p>

            <p style="text-align: justify;">They are equipped to deal with tropical weather and come with a 20 year
                warranty. Wooden textures have always been an evergreen choice when it comes to beautifying our
                properties. In a bid to preserve nature, wooden textured laminates are a perfect replacement. Prominance
                houses a wide range of wood grain textured laminates in Mahogany, Light Oak, Walnut and more.</p>
            <br>

            <li> <span><i class="fas fa-check fa-lg"></i></span> Laminates are equipped with PVDF</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Extreme weather resistance.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Crack resistance.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Colour stability</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Gloss retention</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Easy maintenance</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Environment-friendly (Imported PUR base Adhesive)</li>
            <br>
        </div>
        <br>

        <div class="col-lg-4 col-md-6">
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span> Our Products</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/tophungwindows']">Top Hung UPVC Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/tiltturnwindows']">UPVC Tilt & Turn Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/slidingwindows']">UPVC Sliding Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/casementwindows']">UPVC Casement Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/specialwindows']">Special uPVC Windows</a></li>
                        <br>
                        <li class="active"><a href="" [routerLink]="['/coloredwindows']">Coloured uPVC Windows</a></li>
                        <br>
                        <li ><a href="" [routerLink]="['/aluminiumwindows']">Aluminium Windows</a></li>
                        <br><br>
                    </ul>

                </div>
            </div>

            <br><br>
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span>uPVC Doors</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/slidefolddoor']" (click)="scroll()">
                                 Doors</a></li>
                        <br>
                        <br>
                    </ul>
                </div>
            </div>
        </div><br>
    </div>
</div>