<!-- Footer -->
<footer class="text-white" style="background-color: rgba(33, 31, 31, 0.809);">
    <!-- Grid container -->
    <div class="container">


        <!-- Section: Links -->
        <section class="">
            <br><br>
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <img height="100" src="/assets/Fascina wintec_Logo.png" alt="">
                    <br>
                    <br>
                    <p style="text-align: justify;">Distinct approach towards our services and immaculate product range
                        together complies as strength
                        of our company.</p>
                    <br>
                    <!-- Twitter -->
                    <a class="btn text-white btn-sm m-1" style="background-color: #55acee;" href="#!" role="button"><i
                            class="fab fa-twitter fa-lg"></i></a>

                    <a class="btn text-white btn-sm m-1" style="background-color: #3b5998;" href="#!" role="button"><i
                            class="fab fa-facebook-f fa-lg"></i></a>

                    <!-- Linkedin -->
                    <a class="btn text-white btn-sm m-1" style="background-color: #0082ca;" href="#!" role="button"><i
                            class="fab fa-linkedin-in fa-lg"></i></a>

                    <!-- Instagram -->
                    <a class="btn text-white btn-sm m-1"
                        style="background:  radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);"
                        href="#!" role="button"><i class="fab fa-instagram fa-lg"></i></a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text">uPVC Windows</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()" [routerLink]="['/tophungwindows']">Top
                                Hung uPVC Windows</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()" [routerLink]="['/tiltturnwindows']">uPVC
                                Tilt & Turn
                                Windows</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()" [routerLink]="['/slidingwindows']">uPVC
                                Sliding Windows</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()" [routerLink]="['/casementwindows']">uPVC
                                Casement
                                Windows</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()"
                                [routerLink]="['/specialwindows']">Special
                                uPVC Windows</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()"
                                [routerLink]="['/coloredwindows']">Coloured
                                uPVC Windows</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()"
                                [routerLink]="['/aluminiumwindows']">Aluminium Windows</a>
                        </li>


                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text">uPVC Doors</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()" [routerLink]="['/slidefolddoor']">uPVC
                                Slide And Fold
                                Door</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()" [routerLink]="['/slidingdoor']">uPVC Lift
                                And Slide Door</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()" [routerLink]="['/casementdoor']">uPVC
                                Casement Door</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()" [routerLink]="['/slidingdoor']">uPVC
                                Sliding Doors</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white" (click)="scroll()"
                                [routerLink]="['/aluminumdoor']">Aluminium
                                Doors</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text">Corporate Office</h5> <br>
                    <p class="text-white"> 84, Kh 17/3, Waroda Village, Rui Panjari Road Outer Ring
                        Road Crossing, Nagpur-441108, Mahrashtra, India</p>
                </div>
                <!--Grid column-->
            </div>

            <!--Grid row-->
        </section>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 r">
                    <div class="container">
                        <div class="row row-cols-2">
                            <div class="col-md-2"><br>
                                <a class="btn text-white btn-lg btn-floating"
                                    style="background-color:rgba(255, 255, 255, 0.1);" href="#!" role="button"><i
                                        class="far fa-envelope"></i>
                                </a>
                            </div><br>
                            <div class="col-md-10">
                                <br>
                                <h6 style="word-wrap: break-word;">pravinshahane22&#64;gmail.com</h6>
                                <p>Drop Us a Line</p>
                            </div>
                        </div>
                    </div>
                    <br>
                </div><br>


                <div class="col-lg-4 col-md-6 b">
                    <div class="container">
                        <div class="row row-cols-2">
                            <div class="col-md-2"><br>
                                <a class="btn text-white btn-lg btn-floating"
                                    style="background-color: rgba(122, 151, 161, 0.1);" href="#!" role="button"><i
                                        class="fas fa-phone"></i>
                                </a>
                            </div><br>
                            <div class="col-md-10">
                                <br>
                                <h6> +91 7620600072</h6>
                                <p>Call Us Now</p>
                            </div>
                        </div>
                    </div>
                    <br>
                </div><br>

                <div class="col-lg-4 col-md-6 r">
                    <div class="container">
                        <div class="row row-cols-2">
                            <div class="col-md-2"> <br>
                                <a class="btn text-white btn-lg btn-floating"
                                    style="background-color: rgba(255, 255, 255, 0.1);" href="#!" role="button"><i
                                        class="fas fa-location-dot"></i>
                                </a>
                            </div><br>
                            <div class="col-md-10">
                                <br>
                                <h6>Nagpur, Maharashtra, India</h6>
                                <p> Get Direction</p>
                            </div>
                        </div>
                    </div>
                    <br>
                </div><br>
            </div>
            <hr>

            Copyright © 2018 All rights reserved by Fascina Wintec Pvt. Ltd
            <span style="float: right;">Powered By:<a target="_blank" href="https://fourthdm.com/"><img width="100"
                        src="/assets/4thdmlogo.jpg" alt=""></a></span>


        </div>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->



    <br>

</footer>
<!-- Footer -->