<div class="main4">
    <div class="container">
<br><br>
        <h1 class="maint"><b>Our Projects</b></h1>
        <br><br>
        <div class="row">
            <div class="col-md-4" (click)="scroll()" [routerLink]="['/gallery']">
                <div class="card">
                    <img src="/assets/gallery/residential/Residential uPVC Windows_6.jpg" alt="">
                    <div class="overlay">
                        <div class="text text-center"> Residential</div>
                    </div>
                </div> <br>
            </div>
            <br>

            <div class="col-md-4" (click)="scroll()" [routerLink]="['/gallery']">
                <div class="card">
                    <img src="/assets/gallery/commercial/Commercial side uPVC Windows_3.jpg" alt="">
                    <div class="overlay">
                        <div class="text text-center"> Commercial</div>
                    </div>
                </div> <br>
            </div>
            <br>

            <div class="col-md-4" (click)="scroll()" [routerLink]="['/gallery']">
                <div class="card">
                    <img src="/assets/gallery/hospital/Hospitality side uPVC Windows_2.jpg" alt="">
                    <div class="overlay">
                        <div class="text text-center"> Hospitality</div>
                    </div>
                </div> <br>
            </div><br>
        </div>
    </div>
</div>
<br>