<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">Aluminium Door</h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6">
            <img style="width: 100%;" src="/assets/door/aluminiumdoor.png" alt="">
            <br>
            <h2>Product Overview</h2>
            <br>
            <p style="text-align: justify;"> uPVC Sliding Door A uPVC sliding door is a slider door of 2 track 2 panels
                or more with or without mesh.</p>

            <p style="text-align: justify;">One of the most preferred styles that people opt for today are sliding
                doors. The design of a sliding door is crafted in such a way that it offers unhindered access and
                doesn’t take up too much space. As the functioning of sliding doors is effortless and noiseless, the
                mechanism of sliding doors is also often referred to as the Silent System.
            </p>
            <p>Enhance the aesthetic appeal of your home with a wide range of elegant sliding doors by Fenesta. We are a
                leading manufacturer and supplier of high-quality uPVC sliding doors in India. All our doors are
                engineered with extreme precision and care. The use of top-notch materials and new-age techniques for
                the crafting and designing of our doors have helped us become the preferred choice for fenestration in
                India.</p>


            <li> <span><i class="fas fa-check fa-lg"></i></span>
                Sliding doors by Fenesta offer numerous aesthetically appealing fixturesuPVC sliding doors keep the
                internal
                temperature of the home regulated.</li>

            <li> <span><i class="fas fa-check fa-lg"></i></span> The doors are highly energy efficientuPVC sliding doors
                by Fenesta are designed with sound insulation propertiesDoors are fusion welded and designed with
                silicone sealant and laminated glassAt Fenesta, only high-quality materials are used for the
                manufacturing of the doorsuPVC sliding doors require minimal maintenance.</li>

            <li> <span><i class="fas fa-check fa-lg"></i></span>
                The doors are robust and sturdy, suitable for all regions in the countryThe installation of sliding
                doors
                by Fenesta also ensures an improved security aspect.</li>

            <br>
        </div>
        <br>

        <div class="col-lg-4 col-md-6">
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span> Our Products</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/slidefolddoor']" (click)="scroll()">UPVC Slide And Fold Door</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/liftslidedoor']" (click)="scroll()">UPVC Lift And Slide Door</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/casementdoor']" (click)="scroll()">UPVC Casement Door</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/slidingdoor']" (click)="scroll()">UPVC Sliding Doors</a></li>
                        <br>
                        <li class="active"><a href="" [routerLink]="['/aluminumdoor']" (click)="scroll()">Aluminium
                                Door</a></li>
                        <br><br>
                    </ul>
                </div>
            </div>
            <br><br>
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span>uPVC Windows</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/tophungwindows']" (click)="scroll()">
                                Windows</a></li>
                        <br>
                        <br>
                    </ul>
                </div>
            </div>
        </div><br>
    </div>
</div>