<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">UPVC Slide And Fold Door</h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6">
            <img style="width: 100%;" src="/assets/door/slidefold door.png" alt="">
            <br><br>

            <h2>Product Overview</h2>
            <br>
            <p style="text-align: justify;">The casement door is an open able door with or without flying mullion. This
                can be offered in a combination of fixed and open able.</p>

            <p style="text-align: justify;">Slide and fold uPVC doors are designed for maximum flexibility while
                providing a smart yet attractive look to your entrance. The slide and fold uPVC doors come with a sash
                which gives you the choice to move it in either direction or stack them to one end. The design isn’t the
                only aspect these doors have to offer as they are highly durable making them immune to extreme
                temperatures.
                <br>
                They have the advantage of opening completely or partially, providing you with an adequate amount of
                ventilation and fresh air..
            </p>
            <br>

            <li> <span><i class="fas fa-check fa-lg"></i></span> Multi chambered sections provide extra strength</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Rain track for a free-flowing drain system</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Nylon rollers to ensure smooth movement</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Better ventilation for fresh air circulation.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Prevents noise pollutionm</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Termite proof and corrosion resistant</li>
            <br>
        </div>
        <br>

        <div class="col-lg-4 col-md-6">
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span> Our Products</h3> <br>
                    <ul>
                        <li class="active"><a href="" [routerLink]="['/slidefolddoor']" (click)="scroll()">UPVC Slide
                                And Fold Door</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/liftslidedoor']" (click)="scroll()">UPVC Lift And Slide Door</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/casementdoor']" (click)="scroll()">UPVC Casement Door</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/slidingdoor']" (click)="scroll()">UPVC Sliding Doors</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/aluminumdoor']" (click)="scroll()">Aluminium Door</a></li>
                        <br><br>
                    </ul>

                </div>
            </div>
            <br><br>
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span>uPVC Windows</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/tophungwindows']" (click)="scroll()">
                                Windows</a></li>
                        <br>
                        <br>
                    </ul>
                </div>
            </div>
        </div><br>
    </div>
</div>