<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">Tilt and Turn uPVC Windows</h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6">
            <img style="width: 100%;" src="/assets/windows/Tilt-N-Turn.png" alt="">
            <br><br>

            <h2>Product Overview</h2>
            <br>
            <p style="text-align: justify;">
                Tilts at an angle from the top like a bottom hung or opens sideways like a
                casement window. The tilt position is for ventilation. Both operations take place with a single handle
                with a specialized build in hardware.</p>

            <p style="text-align: justify;">Tilt N Turn Windows are designed to provide a European window option for
                fabricators and clients alike. The window is available as part of the EN62 range and was designed to
                give the discerning end user a state of the art inward opening fenestration solution. The ENCRAFT Tilt N
                Turn provides the client maximum design freedom due to larger opening sizes that can be achieved and
                suits any window replacement program or building type in the fast growing construction industry.</p>
            <br>

            <li> <span><i class="fas fa-check fa-lg"></i></span>
                Contemporary modern soft line profile appearance.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> 10 mm sash overlap for enhanced performance</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span>
                Internal glazing options from 4 mm single to 36 mm triple</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Concealed heavy duty hinges to enable continuous
                weather
                seals.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span>
                External sliding fly screen system</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span>
                Secure hardware fitting into steel reinforcements as standard</li>
            <br>
        </div>
        <br>

        <div class="col-lg-4 col-md-6">
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span> Our Products</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/tophungwindows']" (click)="scroll()">Top Hung UPVC Windows</a>
                        </li>
                        <br>
                        <li class="active"><a href="" [routerLink]="['/tiltturnwindows']" (click)="scroll()">UPVC Tilt &
                                Turn Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/slidingwindows']" (click)="scroll()">UPVC Sliding Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/casementwindows']" (click)="scroll()">UPVC Casement Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/specialwindows']" (click)="scroll()">Special uPVC Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/coloredwindows']" (click)="scroll()">Coloured uPVC Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/aluminiumwindows']" (click)="scroll()">Aluminium Windows</a>
                        </li>
                        <br><br>
                    </ul>

                </div>
            </div>
             <br><br>
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span>uPVC Doors</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/slidefolddoor']" (click)="scroll()">
                                 Doors</a></li>
                        <br>
                        <br>
                    </ul>
                </div>
            </div>
        </div><br>
    </div>
</div>