.main {
    background-image: url('/assets/casementwindows.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.div {
    padding: 23% 15% 15% 15%;
    text-align: center;
    color: white;
}

.text {
    padding: 3%;
}

.main3 {
    background-color: #a91f25;
    color: white;
    font-weight: 600;
    padding: 1%;
}

.main3 img {
    max-width: 100%;
}

@media(max-width:430px) {
    .main3 img {
        width: 60px;
    }
    .div {
        padding: 35% 15% 15% 15%;
        text-align: center;
        color: white;
    }
    
}

.com {
    font-size: 2.5em;
    color: #3790ce;
    text-align: center;
}

.texts {
    text-align: justify;
    padding: 3% 8% 3% 8%;
    font-size: medium;
}

li {
    list-style: none;
}

.fa-check {
    color: #a91f25;
    padding-right: 1%;
}

img {
    width: 100%;
}

.btn-floating {
    padding: 1%;
    width: 5.5rem;
    height:5.5rem;
}

.why{
    background-color: #777777;
}

.wtext{
    color: white;
}
