<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">About Us</h1>
        </div>
    </div>
</div>
<br>

<div class="container"><br>
    <div class="row">
        <div class="col-lg-6">
            <div class="text">
                <p style="color:#3790ce; font-weight: bolder;">About Our Company <i class="fas fa-minus fa-lg"></i> </p>
                <h1 style="font-weight: 900;color: black;">Make Your Dream Come True</h1>
                <p style="text-align: justify;">
                    <br>
                    Discover a world of possibilities with uPVC windows from Fascina Wintec Pvt. Ltd. Our diverse range
                    is tailored to meet individual needs, providing high-quality windows that elevate the luxury and
                    exclusivity of your home.
                    Standard-sized uPVC windows are readily available, ensuring a seamless and prompt installation
                    process.
                    At Fascina Wintec, we understand the distinct requirements and preferences of our customers, and our
                    commitment is to fulfill their individual needs.
                    <br><br>
                    Our fast fulfillment and minimal waiting time policy exemplify our dedication to providing
                    customized uPVC windows.
                    Whether it's a different size, shape, or type, we prioritize efficiency to meet the unique
                    specifications of our valued customers.
                    <br><br>
                    FASCINA WINTEC places a special emphasis on delivering quality in both the supply and installation
                    of uPVC windows.
                    Our focus extends to homes, offices, residential apartments, as well as industrial and factory
                    settings.
                    <br>
                    Experience the excellence of FASCINA WINTEC as we redefine the standards of uPVC windows for various
                    environments.

                    <!-- uPVC windows make by Fascina Wintec Pvt. Ltd have various range
                    that
                    match to individual needs, all are
                    high-quality uPVC windows to add Luxury and exclusive look to your home.
                    <br> Standard size uPVC windows are
                    always available & ready to install.We understand requirements and needs then fulfill individual
                    needs.Fast fulfillment and less waiting time policy of FASICNA WINTEC for any customized uPVC
                    windows
                    (different size, shape and various type of uPVC windows). We understand requirements and needs then
                    fulfill individual needs.
                    <br><br>
                    Our success is attributed to an unparalleled experience and the use of superior-grade materials across
                    our extensive product range.
                    With our headquarters located in Nagpur, we have established a comprehensive sales network that spans
                    across Maharashtra.
                    <br><br>
                    FASCINA WINTEC specially focused for quality to supplies and install uPVC windows for home, office,
                    residential apartments and Industrial & Factories. -->
                </p>
                <br>
                <button class="btn btn-lg btn-info" [routerLink]="['/contact']">Get Free Quote</button> <br>
                <br><br><br>
            </div>
        </div>
        <br><br>
        <div class="col-lg-6">
            <img style="width: 100%;" src="/assets/about/Image_01.png" alt=""> <br>
            <br>
        </div><br>
    </div>
</div>

<div class="main3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="container">
                    <div class="row row-cols-2">
                        <div class="col-md-3"><br>
                            <img src="/assets/about/happy.png" alt="">
                        </div><br>
                        <div class="col-md-9">
                            <br>
                            <h6>1089</h6>
                            <p>Happy Customers</p>
                        </div>
                    </div>
                </div>
                <br>
            </div> <br>
            <div class="col-lg-3 col-md-6">
                <div class="container">
                    <div class="row row-cols-2">
                        <div class="col-md-3"><br>
                            <img src="/assets/about/satisfy.png" alt="">
                        </div><br>
                        <div class="col-md-9">
                            <br>
                            <h6>2,05,479</h6>
                            <p>COMPLETED TILL(SQ. FT.)</p>
                        </div>
                    </div>
                </div>
                <br>
            </div> <br>
            <div class="col-lg-3 col-md-6">
                <div class="container">
                    <div class="row row-cols-2">
                        <div class="col-md-3"><br>
                            <img src="/assets/about/Served.png" alt="">
                        </div><br>
                        <div class="col-md-9">
                            <br>
                            <h6>7,311</h6>
                            <p>WORK IN PROGRESS(SQ. FT.)</p>
                        </div>
                    </div>
                </div>
                <br>
            </div> <br>
            <div class="col-lg-3 col-md-6">
                <div class="container">
                    <div class="row row-cols-2">
                        <div class="col-md-3"><br>
                            <img src="/assets/about/done.png" alt="">
                        </div><br>
                        <div class="col-md-9">
                            <br>
                            <h6>1250</h6>
                            <p>Completed Projects</p>
                        </div>
                    </div>
                </div>
                <br>
            </div> <br>
        </div>
    </div>
</div>
<br>

<div class="strength">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/about/a.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="com"><b>Company Strength</b></p>
                        <p class="texts">Our company derives its strength from a distinct approach towards services and
                            an impeccable product range.
                            The genuineness of our products is unparalleled, encompassing key parameters such as:
                            <br><br>
                            <li><i class="fas fa-check fa-lg"></i> Product quality</li>
                            <li><i class="fas fa-check fa-lg"></i> Market goodwill</li>
                            <li><i class="fas fa-check fa-lg"></i> Ethical business dealings</li>
                            <li><i class="fas fa-check fa-lg"></i> Competitive pricing</li>
                            <li><i class="fas fa-check fa-lg"></i> Timely delivery</li>
                            <li><i class="fas fa-check fa-lg"></i> A competent team </li>
                            <li><i class="fas fa-check fa-lg"></i> A wide distribution network</li>
                            <li><i class="fas fa-check fa-lg"></i> Customized provisions</li>
                            <br>
                            This unique combination sets us apart, underscoring our commitment to excellence in every
                            facet of our operations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <span style="color:#3790ce;"> Services
                and Experience <i class="fas fa-minus"></i><i class="fas fa-minus"></i></span>
            <h1><b>Why Choose Us</b></h1>
        </div>
        <div class="col-md-6"><br>
            <h4 style="color:#3790ce;"><b> We sincerely invite you to visit our showroom and check quality of
                    our products.</b></h4>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6 why">
            <div class="">
                <div class="card-body"> <br>
                    <a class="btn text-white btn-lg btn-floating" style="background-color: rgba(37, 150, 190, 0.714);"
                        href="#!" role="button"><img src="/assets/about/why1.png" alt="">
                    </a>
                    <br><br>
                    <h5 class="wtext"><b>Wide Distribution Network</b></h5>
                    <p class="wtext">A robust and wide distribution network is a cornerstone of our operational
                        efficiency and customer satisfaction.</p> <br>
                </div>
            </div>
        </div><br>
        <div class="col-md-6 why2">
            <div class="">
                <div class="card-body"> <br>
                    <a class="btn text-white btn-lg btn-floating" style="background-color: rgba(37, 150, 190, 0.714);"
                        href="#!" role="button"><img src="/assets/about/why2.png" alt="">
                    </a>
                    <br><br>
                    <h5><b>Wide Product Range</b></h5>
                    <p>Quality and variety converge in our offerings, ensuring there's something for everyone.</p> <br>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 why2">
            <div class="">
                <div class="card-body"><br>
                    <a class="btn text-white btn-lg btn-floating" style="background-color: rgba(37, 150, 190, 0.714);"
                        href="#!" role="button"><img src="/assets/about/why3.png" alt="">
                    </a>
                    <br><br>
                    <h5><b>Service at your Doorstep</b></h5>
                    <p>From top-notch customer support to efficient solutions, we bring our expertise directly to you.
                    </p> <br>
                </div>
            </div>
        </div><br>
        <div class="col-md-6 why">
            <div class="">
                <div class="card-body b"> <br>
                    <a class="btn text-white btn-lg btn-floating" style="background-color: rgba(37, 150, 190, 0.714);"
                        href="#!" role="button"><img src="/assets/about/why4.png" alt="">
                    </a>
                    <br><br>
                    <h5 class="wtext"><b>Best product Profiles</b></h5>
                    <p class="wtext">Elevate your experience with our top-tier product profiles – where excellence meets
                        expectation.</p>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
</div>
<br>