<div class="main">
    <div class="container">
        <div class="div">
            <h1 class="animate__animated animate__zoomInDown">Top Hung uPVC Windows</h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6">
            <img style="width: 100%;" src="/assets/windows/top-hung.png" alt="">
            <br><br>

            <h2>Product Overview</h2>
            <br>
            <p style="text-align: justify;">We also offer windows made with special top hung upvc windows.</p>

            <p style="text-align: justify;">UPVC TOP HUNG WINDOWS

                uPVC Top Hung Windows are cost-efficient and provide obstacles against thermal and sound pollution.
                These uPVC windows are very easy to use and have a low maintenance cost. Top Hung window is a mix of
                casement and window frame both made with high-quality uPVC. The frame is attached to the casement by way
                of a hinge on the top side of the casement which permits the window to swing open outward and can be
                paused at a position via friction stays.
                <br>
                These types of windows look similar to traditional casement windows but with a difference. Casement
                windows turn on hinges mounted on the side while Top Hung windows turn on hinges mounted at the top. The
                window is operated with a handle at the bottom.

                They are placed higher in walls and provide excellent ventilation. Ideal for commercial and residential
                buildings. Colour Options are available to match your needs..
            </p>
            <br>

            <li> <span><i class="fas fa-check fa-lg"></i></span> Best suited for them who have very specific needs.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> 10 mm sash overlap for enhanced performance</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Extremely secured due to multi-point locking system.
            </li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> Easy to install and saves a lot of time.</li>
            <li> <span><i class="fas fa-check fa-lg"></i></span> External sliding fly screen system</li>
            <br>
        </div>
        <br>

        <div class="col-lg-4 col-md-6">
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce;"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span> Our Products</h3> <br>
                    <ul>
                        <li class="active"><a href="" [routerLink]="['/tophungwindows']" (click)="scroll()">Top Hung
                                UPVC Windows</a></li>
                        <br>
                        <li><a href="" [routerLink]="['/tiltturnwindows']" (click)="scroll()">UPVC Tilt & Turn
                                Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/slidingwindows']" (click)="scroll()">UPVC Sliding Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/casementwindows']" (click)="scroll()">UPVC Casement Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/specialwindows']" (click)="scroll()">Special uPVC Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/coloredwindows']" (click)="scroll()">Coloured uPVC Windows</a>
                        </li>
                        <br>
                        <li><a href="" [routerLink]="['/aluminiumwindows']" (click)="scroll()">Aluminium Windows</a>
                        </li>
                        <br>
                        <br>
                    </ul>
                </div>
            </div>
            <br><br>
            <div class="card" style="background: #f3f7ff;">
                <div class="card-body">
                    <h3> <span style="color:#3790ce;"><i class="fas fa-minus"></i><i class="fas fa-minus"></i>
                        </span>uPVC Doors</h3> <br>
                    <ul>
                        <li><a href="" [routerLink]="['/slidefolddoor']" (click)="scroll()">
                                 Doors</a></li>
                        <br>
                        <br>
                    </ul>
                </div>
            </div>
        </div><br>
    </div>
</div>